@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Kablammo&family=Orbit&family=Space+Grotesk&display=swap");


body {
    width: 100%;
    height: 1500px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Black Ops One', sans-serif; 
    position: absolute;
    background: url(../images/battleship.jpg) center center/ cover no-repeat fixed;
}

#heading {
    font-size: 3em;
}

#inscrtuctions {
    margin: 0 auto;
    width: 60%;
}

#game-info {
    float: left;
    margin-left: 10em;
}

#game-area {
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: space-evenly;
}

#player-board {
    background-color: black;
    flex-grow: 4;
}

#divider-board {
    flex-grow: 2;
    background-color: orange;
}

#computer-board {
    background-color: black;
    flex-grow: 4;
}