@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Kablammo&family=Orbit&family=Space+Grotesk&display=swap");


body {
    width: 100%;
    height: 1500px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Black Ops One', sans-serif; 
    position: absolute;
    background: url(../images/battleship.jpg) center center/ cover no-repeat fixed;
}

#heading {
    font-size: 3em;
}

#inscrtuctions {
    margin: 0 auto;
    width: 60%;
}

#game-info {
    float: left;
    margin-left: 10em;
}

#game-area {
    width: 80%;
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

#player-board {
    background-color: black;
    flex-grow: 3;
}

#divider-board {
    flex-grow: 1;
    background-color: orange;
}

#computer-board {
    background-color: black;
    flex-grow: 3;
}

#ships-container {
    display: block;
    width: 500px;
    height: 100px;
    background-color: white;
    margin-left: 5%;
    display: flex;
    align-items: center;
}

.carrier {
    width: 100px;
    height: 20px;
    background-color: blue;
    margin: 5px;
}

.battleship {
    width: 80px;
    height: 20px;
    background-color: purple;
    margin: 5px;
}

.destroyer {
    width: 60px;
    height: 20px;
    background-color: green;
    margin: 5px;
}

.submarine {
    width: 60px;
    height: 20px;
    background-color: yellow;
    margin: 5px;
}

.cruiser {
    width: 40px;
    height: 20px;
    background-color: grey;
    margin: 5px;
}